body {
  color: black;
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

div,
p,
input,
span,
a,
ul,
li,
button,
form {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0%;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/* header */

.logo {
  width: 130px;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 80px;
  margin-left: -25px;
}

.header {
  background: rgba(255, 255, 20, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(255, 255, 20, 1) 0%,
    rgba(255, 176, 5, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(255, 255, 20, 1)),
    color-stop(100%, rgba(255, 176, 5, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(255, 255, 20, 1) 0%,
    rgba(255, 176, 5, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(255, 255, 20, 1) 0%,
    rgba(255, 176, 5, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(255, 255, 20, 1) 0%,
    rgba(255, 176, 5, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(255, 255, 20, 1) 0%,
    rgba(255, 176, 5, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff14', endColorstr='#ffb005', GradientType=1 );
  padding-bottom: 120px;
}

.title {
  width: 350px;
  font-size: 45px;
  font-family: "Dancing Script", cursive;
  margin-bottom: 20px;
}

.text {
  font-size: 25px;
  font-family: "Pacifico", cursive;
  margin-bottom: 65px;
}

.text span.emotions {
  color: rgb(100, 191, 214);
}

.text span.places {
  color: rgb(81, 230, 89);
}

.text span.life {
  color: rgb(218, 54, 76);
}

.desktop {
  width: 950px;
  margin-top: -60px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 100px;
  padding: 15px;
  background: #fff;
  border-radius: 100px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  color: black;
}

.btn:hover {
  background: rgb(49, 109, 199);
  color: rgb(238, 223, 18);
  transition: all ease 0.4s;
}

/* section - propositions */

.section-title {
  text-align: center;
  margin-top: 80px;
  font-size: 50px;
  margin-bottom: 60px;
  font-family: cursive;
}

.offer-title {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: "Dancing Script", cursive;
}

.offers {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 150px;
}

.offer1 {
  font-size: 15px;
  width: 350px;
  background: url(../img/logos/hek.png) no-repeat left;
  padding-left: 100px;
}

.offer2 {
  font-size: 15px;
  width: 350px;
  background: url(../img/logos/food.png) no-repeat left;
  padding-left: 100px;
}

.offer3 {
  font-size: 15px;
  width: 350px;
  background: url(../img/logos/sun.png) no-repeat left;
  padding-left: 100px;
}

/* section - inform */
.mail {
  background: cornflowerblue;
  padding-top: 60px;
  padding-bottom: 180px;
}

.part2 {
  color: white;
}

.form {
  text-align: center;
}

.email {
  text-align: center;
  font-size: 25px;
  border-radius: 100px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0 3px 15px black;
}

.btn2 {
  width: 190px;
  background: #fff;
  border-radius: 100px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  color: black;
  cursor: pointer;
  padding: 10px;
  margin-left: 25px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 3px 15px black;
}

/* footer */

.footer {
  padding: 30px 0;
  font-size: 20px;
  background: wheat;
  text-align: center;
}

.gratitude {
  color: rgb(0, 0, 0);
  font-weight: 900;
  margin: 0;
  text-align: center;
}

.author {
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  color: #49a5bf;
}
